# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
.vscode/

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
server-config.js

# BUCK
buck-out/
\.buckd/
*.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots

public/
design_public/
.happypack/
.sass-cache
lerna-debug.log
v8-compile-cache

*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
.DS_Store
Thumbs.db
.project
.*proj
.svn/
*.swp
*.swo
*.log
node_modules/
.buildpath
.settings
npm-debug.log
nohup.out
_site
dist
elasticsearch-*
config/base.yaml
_data
rn-kitchen-sink/ios/build
rn-kitchen-sink/ios/bundle/*
rn-kitchen-sink/android/.gradle
rn-kitchen-sink/android/app/build
rn-kitchen-sink/android/build
rn-kitchen-sink/android/app/src/main/assets
rn-kitchen-sink/android/app/src/main/res/drawable*
xcuserdata
components/**/*.jsx
components/**/*.js
my-release-key.keystore
public/**/*
.happypack

# ios pods

ios/Pods


.DS_Store
.editorconfig
.sass-cache/
vendor/
public/
node_modules/
bin/
app/components_eevee/
components_vendor/
lib/server/
Pampasfile.js
npm-debug.log
dump.rdb
*.zip

__tests__
server-config.js
