@ali:registry=https://registry.npm.alibaba-inc.com/
@alife:registry=https://registry.npm.alibaba-inc.com/
@terminus:registry=https://registry.npm.terminus.io/

sass_binary_site=https://npmmirror.com/mirrors/node-sass/
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs/
electron_mirror=https://npmmirror.com/mirrors/electron/

registry=https://registry.npmmirror.com/
//registry=https://registry.npmjs.org/
